.header__main-illustration {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  background-image: url(../../../images/header-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
